html,body{
  padding: 0;
  margin: 0;
  height: 100%;
}

dl, ul, ol, menu, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.cover-area {
  position: fixed;
  top: 0;
  width: 100%;
  background-image: url(images/cover.jpg);
  background-size: cover;
}

.contents {
  position: relative;
  width: 100%;
  background: #fff;
}
